@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: "NaN Tragedy";
      font-weight: 900;
      src: url(/fonts/NaNTragedy-Display-Black.woff2) format("woff2");
    }
    @font-face {
      font-family: "NaN Fiasco";
      font-weight: 400;
      src: url(/fonts/NaNFiasco-Regular.woff2) format("woff2");
    }
    @font-face {
        font-family: "NaN Fiasco";
        font-weight: 700;
        src: url(/fonts/NaNFiasco-Bold.woff2) format("woff2");
      }
  }
