---
import TerminalHeaderControl from '../components/TerminalHeaderControl.astro';
---
<div class="w-full overflow-hidden bg-white bg-opacity-5 flex items-center justify-center relative text-center text-sm font-bold py-3 px-4">
    <div class="flex flex-row items-center space-x-2 h-full py-3 px-4 absolute top-0 left-0">
        <TerminalHeaderControl />
        <TerminalHeaderControl />
        <TerminalHeaderControl />
    </div>    
    <h3 class="text-xs opacity-50 text-center">Signup &ndash;zsh</h3>   
</div>
